--extra-index-url https://download.pytorch.org/whl/cu118

annotated-types
anyio
click
colorama
customtkinter
exceptiongroup
fastapi
gfpgan
h11
idna
insightface
numpy
onnx
onnxruntime-gpu
opencv-python
opennsfw2
pillow
protobuf
psutil
pydantic-core==2.6.3
pydantic
python-multipart
sniffio
starlette>=0.27.0,<0.28.0
tensorflow
tk
tkinterdnd2
tkinterdnd2-universal
tqdm
typing-extensions
uvicorn[standard]
gunicorn
