name: SwapFaceAPI-Service-Prod-GPU-ScaleToZero

image_uri: 'reynoldoramas/anyscale-swapface:ubuntu24.04-py3.12-cuda12.9.1-cudnn-devel-ray2.46.0'

cloud: ANYSCALE_CLOUD_4

compute_config:
  head_node:
    instance_type: e2-standard-4
    resources:
      CPU: 0
      GPU: 0
    flags: {}
  worker_nodes:
    - instance_type: g2-standard-8-nvidia-l4-1
      flags: {}
      name: '1xL4:8CPU-32GB'
      min_nodes: 0
      max_nodes: 2
      market_type: PREFER_SPOT
    - instance_type: e2-standard-4
      flags: {}
      name: 4CPU-4GB
      min_nodes: 1
      max_nodes: 3
      market_type: ON_DEMAND
      resources:
        CUSTOM_CPU: 10000
  flags:
    allow-cross-zone-autoscaling: false

query_auth_token_enabled: true

logging_config:
  encoding: JSON
  log_level: INFO
  enable_access_log: true

applications:
- name: SwapFaceAPI
  route_prefix: /
  import_path: app.api.main:app

  deployments:
  - name: APIIngress
    num_replicas: 1
    ray_actor_options:
      num_cpus: 1
      num_gpus: 0
      resources:
        CUSTOM_CPU: 0.001
    max_ongoing_requests: 5000
      
  - name: FaceAnalyzer
    ray_actor_options:
      num_gpus: 0.099
    max_ongoing_requests: 5
    autoscaling_config:
      target_ongoing_requests: 2
      min_replicas: 0
      initial_replicas: 1
      max_replicas: 50
      upscale_delay_s: 10
      downscale_delay_s: 300
      upscaling_factor: 1
      downscaling_factor: 1
      metrics_interval_s: 2
      look_back_period_s: 2

  - name: FaceSwapper
    ray_actor_options:
      num_gpus: 0.099
    max_ongoing_requests: 5
    autoscaling_config:
      target_ongoing_requests: 2
      min_replicas: 0
      initial_replicas: 1
      max_replicas: 50
      upscale_delay_s: 10
      downscale_delay_s: 300
      upscaling_factor: 0.5
      downscaling_factor: 1
      metrics_interval_s: 2
      look_back_period_s: 2

  - name: FaceEnhancer
    ray_actor_options:
      num_gpus: 0.099
    max_ongoing_requests: 5
    autoscaling_config:
      target_ongoing_requests: 2
      min_replicas: 0
      initial_replicas: 1
      max_replicas: 50
      upscale_delay_s: 10
      downscale_delay_s: 300
      upscaling_factor: 1
      downscaling_factor: 1
      metrics_interval_s: 2
      look_back_period_s: 2

  - name: CodeFormerEnhancer
    ray_actor_options:
      num_gpus: 0.2
    max_ongoing_requests: 5
    autoscaling_config:
      target_ongoing_requests: 3
      min_replicas: 0
      initial_replicas: 0
      max_replicas: 2
      upscale_delay_s: 10
      downscale_delay_s: 300
      upscaling_factor: 1
      downscaling_factor: 1
      metrics_interval_s: 2
      look_back_period_s: 2

  - name: BackgroundRemover
    ray_actor_options:
      num_gpus: 0.099
    max_ongoing_requests: 3
    autoscaling_config:
      target_ongoing_requests: 2
      min_replicas: 0
      initial_replicas: 1
      max_replicas: 3
      upscale_delay_s: 10
      downscale_delay_s: 300
      upscaling_factor: 1
      downscaling_factor: 1
      metrics_interval_s: 2
      look_back_period_s: 2

  - name: SwapProcessor
    num_replicas: 1
    ray_actor_options:
      num_cpus: 1
      num_gpus: 0
      resources:
        CUSTOM_CPU: 0.001
    max_ongoing_requests: 5000

  - name: GCPImageManager
    ray_actor_options:
      num_cpus: 0.15
      resources:
        CUSTOM_CPU: 0.001
    max_ongoing_requests: 10
    autoscaling_config:
      target_ongoing_requests: 2
      min_replicas: 1
      initial_replicas: 1
      max_replicas: 50
      upscale_delay_s: 10
      downscale_delay_s: 300
      upscaling_factor: 1
      downscaling_factor: 1
      metrics_interval_s: 2
      look_back_period_s: 2
    init_args:
      - app/configs/anyscale_bucket_credentials.json
      - anyscale_tmp_faces

excludes:
  - .git
  - .env
  - .DS_Store
  - __pycache__

http_options:
  request_timeout_s: 60
  keep_alive_timeout_s: 300

ray_gcs_external_storage_config:
  enabled: false